body{
margin: 0;
height: 100vh;
background-color: rgb(10, 6, 1);

}
span{
    background: url("https://www.iconfinder.com/icons/3938105/https://www.iconfinder.com/icons/1573297/blade_halloween_hearts_knife_scary_spooky_stabbing_icon");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50;
    top: 50;
    transform: translate(-50% , -50%);
}